.board-container {
  display: grid;
  grid-template-rows: 1fr 550px;
  padding: 5px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  height: min-content;
  width: min-content;
}

.board-container-right-side {
  grid-template-columns: 550px 1fr;
}

.board-container-right-side > .board {
  grid-column: 1 / 2;
  grid-row:  2 / 3;
}

.board-container-left-side {
  grid-template-columns: 1fr 550px;
}

.board-container-left-side > .board {
  grid-column: 2 / 3;
  grid-row:  2 / 3;
}

.board:hover{
  cursor: pointer;
}


.disabled {
  background-color: rgba(0, 0, 0, 0.10);
}

.disabled:hover{
  cursor: not-allowed;
}