.display-name{
  display: flex;
  justify-content: center;
  grid-row: 1 / 2;
  margin-bottom: 10px;
}

.display-name > p {
  margin: 0;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #D8A631;
}

.display-name-left-side{
  grid-column: 2 / 3;
}

.display-name-right-side{
  grid-column: 1 / 2;
}