div[id*="ship"]{
  min-width: min-content;
  max-width: min-content;
  min-height: min-content;
  max-height: min-content;
  display: flex;
  gap: 6px;
}

div[data-orientation*="vertical"]{
  flex-direction: column;
}

div[data-orientation*="horizontal"]{
  flex-direction: row;
}

.ship-body{
  border: 1px solid cadetblue;
  background-color: cadetblue;
  height: 30px;
  width: 30px;
}