div[id*="ship"]{
  min-width: min-content;
  max-width: min-content;
  min-height: min-content;
  max-height: min-content;
  display: flex;
  gap: 2px;
  background-color: #ACAEB1;
}

div[data-orientation*="vertical"]{
  flex-direction: column;
}

div[data-orientation*="horizontal"]{
  flex-direction: row;
}

.ship-body{
  border: 1px solid #1B9AAA;
  background-color: #1B9AAA;
  height: 48px;
  width: 48px;
}