.square {
  border: 1px solid black;
  min-height: 50px;
  min-width: 50px;
}

.fill-ship-position {
  background-color: cadetblue;
}

.fill-missed-strike {
  background-color: #828282;
}

.fill-ship-hit{
  background-color: #ff3dd8;
}