*{
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  transition: height 500ms cubic-bezier(0, 0, 0.58, 1.0);
  background-color: #EEEEEE;
}

#app.main-menu{
  background-image: url("./images/Battleship_banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#app.game-in-progress {
  height: 0;
}

#boards-container{
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 100px;
  padding: 10px;
}