*{
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
  margin: 0;
}

#boards-container{
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
}